<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style/navbar.css">

    <style>
        .card {
            margin-top: 50px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }

        .card-title {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
        }

        .card-text {
            font-size: 18px;
            margin-top: 10px;
        }

        @media (max-width: 576px) {
            .card-img-top {
                height: 200px;
            }
        }

    </style>
</head>

<body>
<section class="navigation">
    <div class="nav-container">
        <nav class="navbar navbar-expand-custom navbar-mainbg">
            <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector">
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/profile}"><i
                                class="fas fa-tachometer-alt"></i>Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/book}"><i class="far fa-address-book"></i>Каталог</a>
                    </li>
                    <li th:if="${isAdmin}" class="nav-item">
                        <a class="nav-link" th:href="@{/admin/book/create}"><i class="far fa-address-book"></i>Добавление
                            книги</a>
                    </li>
                    <li th:if="${isAdmin}" class="nav-item">
                        <a class="nav-link" th:href="@{/admin/user}"><i class="far fa-clone"></i>Пользователи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Настройки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}"><i class="far fa-chart-bar"></i>Выход</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img th:src="@{'/book/' + ${book.id} + '/image'}"/>
                <div class="card-body">
                    <h4 class="card-title" th:text="${book.name}"></h4>
                    <p class="card-text" th:text="${'Автор: ' + book.author}"></p>
                    <p class="card-text" th:text="${'Статус: ' + book.status}"></p>
                    <p class="card-text" th:text="${'Описание: ' + book.description}"></p>
                    <div th:if="${book.user != null and book.user.id.equals(user.id)}">
                        <a class="btn btn-primary" th:href="@{/book/return/{bookId}(bookId=${book.id})}">
                            Вернуть книгу
                        </a>
                    </div>
                    <div th:if="${book.user != null and !book.user.id.equals(user.id)}">
                        <p class="card-text" th:text="'Книга сейчас у ' + ${book.user.fullName}"/>
                    </div>
                    <div th:if="${book.user == null}">
                        <a class="btn btn-primary" th:href="@{/book/lend/{bookId}(bookId=${book.id})}">
                            Взять книгу
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">История взятий этой книги</h4>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Пользователь</th>
                                    <th scope="col">Дата взятия</th>
                                    <th scope="col">Дата возврата</th>
                                </tr>
                                </thead>
                                <tbody th:if="${not records.isEmpty()}">
                                <tr th:each="record : ${records}">
                                    <td th:text="${record.user.fullName}"></td>
                                    <td th:text="${record.loanDate}"></td>
                                    <td th:text="${record.returnDate}"></td>
                                </tr>
                                </tbody>
                                <h3 th:if="${records.isEmpty()}">Список истории пуст!</h3>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
</body>
</html>
