<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Book Info</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="margin-top: 50px;">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-10">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center mb-4">Book Info</h2>
          <div class="row">
            <div class="col-md-4">
              <img th:src="@{/image/{id}(id=${book.id})}" class="img-fluid rounded">
            </div>
            <div class="col-md-8">
              <h3 class="mb-3" th:text="${book.name}"></h3>
              <p><strong>Author:</strong> <span th:text="${book.author}"></span></p>
              <p><strong>Description:</strong> <span th:text="${book.description}"></span></p>
              <p><strong>Status:</strong> <span th:text="${book.status}"></span></p>
            </div>
          </div>
          <div class="row justify-content-center mt-4">
            <div class="col-md-4">
              <a th:href="@{/book/edit/{id}(id=${book.id})}" class="btn btn-primary btn-block">Edit Info</a>
            </div>
            <div class="col-md-4">
              <a th:href="@{/book/delete/{id}(id=${book.id})}" class="btn btn-danger btn-block">Delete Book</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>