<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>

        .card {
            margin-top: 50px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }

        .card-img-top {
            border-radius: 5px 5px 0 0;
        }

        .card-title {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
        }

        .card-text {
            font-size: 18px;
            margin-top: 10px;
        }

        @media (max-width: 576px) {
            .card-img-top {
                height: 200px;
            }
        }

    </style>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img th:src="@{'/bookTh/' + ${book.id} + '/image'}"/>
                <div class="card-body">
                    <h4 class="card-title" th:text="${book.name}"></h4>
                    <p class="card-text" th:text="${'Автор: ' + book.author}"></p>
                    <p class="card-text" th:text="${'Статус: ' + book.status}"></p>
                    <p class="card-text" th:text="${'Описание: ' + book.description}"></p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">История взятий этой книги</h4>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Пользователь</th>
                                    <th scope="col">Дата взятия</th>
                                    <th scope="col">Дата возврата</th>
                                </tr>
                                </thead>
                                <tbody th:if="${not records.isEmpty()}">
                                <tr th:each="record : ${records}">
                                    <td th:text="${record.user.fullName}"></td>
                                    <td th:text="${record.loanDate}"></td>
                                    <td th:text="${record.returnDate}"></td>
                                </tr>
                                </tbody>
                                <h3 th:if="${records.isEmpty()}">Список истории пуст!</h3>
                            </table>
                            <!--                                <tr>-->
                            <!--                                    <th scope="col">Пользователь</th>-->
                            <!--                                    <th scope="col">Дата взятия</th>-->
                            <!--                                    <th scope="col">Дата возврата</th>-->
                            <!--                                </tr>-->
                            <!--                                </thead>-->
                            <!--                            <ul>-->
                            <!--                                <th:block  th:each="record : ${records}">-->
                            <!--                                    <li th:text="${record.user.fullName + ' ' + record.loanDate + ' - ' + record.returnDate}"></li>-->
                            <!--                                </th:block>-->
                            <!--                                <p th:if="${book.records.isEmpty()}">У этой книги еще нет записей</p>-->
                            <!--                            </ul>-->
                        </div>
                    </div>
                </div>
                <!--                <div class="col-md-12">-->
                <!--                    <div class="card">-->
                <!--                        <div class="card-body">-->
                <!--                            <h4 class="card-title">Reviews</h4>-->
                <!--                            <ul>-->
                <!--                                <th:block th:each="review : ${reviews}">-->
                <!--                                    <li th:text="${review.comment}"></li>-->
                <!--                                </th:block>-->
                <!--                            </ul>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
    </div>
</div>
</body>

</html>
