* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a,li {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: black;
}
.logo{
    cursor: pointer;
    order: 3;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.header {
    z-index: 2;
    width: 100%;
}
.header > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
.header_list-links > li{
    display: inline-block;
    padding-left: 50px;
    flex-wrap: wrap;
}
.header_list-links > li> a:hover{
    color: blue;
    transition: 0.3s;

}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img{
    width: 700px;
    height: 400px;
}
h1{
    padding: 60px 0 30px;
}

.header__hambur-menu {
    width: 35px;
    height: 35px;
    display: none;
}
.header-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    width: 100%;
}
.header-modal__blur {
    width: 100%;
    height: 100vh;
    filter: blur(4px);
}
.header-modal__content {
    max-width: 370px;
    width: 100%;
    height: 100vh;
    background-color:  rgb(224, 202, 161);
    padding: 3% 7%;
}
.header-modal__box-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-modal__icons {
    width: 40px;
    height: 40px;
}
.header-modal__list {
    margin-top: 20%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}
.header-modal__list li {
    margin-top: 20%;
    font-size: 20px;
}

@media (max-width: 1280px) {
    .container {
        margin: 0;
        padding: 0 10%;
    }
}
@media (max-width: 990px) {
    .header__list, .header__basket {
        display: none;
    }
    .header__hambur-menu {
        display: block;
    }
}
@media (max-width: 600px) {
    .header__logo {
        width: 50px;
        height: 50px;
    }
    .header__basket, .header__hambur-menu {
        width: 35px;
        height: 35px;
    }
    .header-modal__blur {
        width: 0;
    }
    .header-modal__content {
        max-width: 100%;
    }
}