h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5em;
}

input[type="text"],
input[type="password"] {
    padding: 0.5em;
    border-radius: 0.25em;
    border: 1px solid #ccc;
    margin-bottom: 1em;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #0069d9;
}

/* Стили для таблиц */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ccc;
    padding: 0.5em;
}

th {
    font-weight: bold;
    background-color: #f7f7f7;
}
