<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password Success</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }
    h1 {
      color: #2f2f2f;
      font-size: 36px;
      text-align: center;
      margin-top: 50px;
    }
    p {
      color: #6f6f6f;
      font-size: 20px;
      text-align: center;
      margin-top: 20px;
    }
  </style>
</head>
<body>
<h1>Forgot Password Success</h1>
<p>An email with instructions on how to reset your password has been sent to your email address.</p>
</body>
</html>
