.navbar {
    background-color: #222;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
}

.navbar-nav .active .nav-link {
    font-weight: bold;
}

.navbar-brand img {
    margin-right: 10px;
}