<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Мои книги</title>
  <!-- Подключаем CSS Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
<!--  <link rel="stylesheet" href="style.css">-->
  <style>

    .thumbnail {
      max-width: 70px; /* Уменьшите значение по своему усмотрению */
    }

  </style>
</head>
<body>
<div class="container">
  <h1 class="text-center">Мои книги</h1>
  <h2>Текущие книги</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Фото</th>
      <th scope="col">Название</th>
      <th scope="col">Автор</th>
      <th scope="col">Дата взятия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${not curBooks.isEmpty()}" th:each="record : ${curBooks}">
<!--      <td><img class="img-thumbnail" th:src="${book.image}" alt="Фото книги"></td>-->
      <td>
      <a th:href="@{/bookTh/{id}(id=${record.book.id})}">
      <img class="img-thumbnail thumbnail" th:src="@{'/bookTh/' + ${record.book.id} + '/image'}" alt="Photo">
      </a>
      </td>
      <td th:text="${record.book.name}"></td>
      <td th:text="${record.book.author}"></td>
      <td th:text="${record.loanDate}"></td>
    </tr>
    </tbody>
    <h3 th:if="${curBooks.isEmpty()}">У пользователя нет взятых книг!</h3>
  </table>
  <h2>История взятых книг</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Фото</th>
      <th scope="col">Название</th>
      <th scope="col">Автор</th>
      <th scope="col">Дата взятия</th>
      <th scope="col">Дата возврата</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${not pastBooks.isEmpty()}" th:each="record : ${pastBooks}">
      <td>
      <a th:href="@{/bookTh/{id}(id=${record.book.id})}">
      <img class="img-thumbnail thumbnail" th:src="@{'/bookTh/' + ${record.book.id} + '/image'}" alt="Photo">
      </a>
      </td>
      <td th:text="${record.book.name}"></td>
      <td th:text="${record.book.author}"></td>
      <td th:text="${record.loanDate}"></td>
      <td th:text="${record.returnDate}"></td>
    </tr>
    </tbody>
    <h3 th:if="${pastBooks.isEmpty()}">Список истории пуст!</h3>

  </table>
</div>
<!-- Подключаем JS Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjvnCVY6263FpFNO3Kef702gH+nJuH4U8dJAUz5g5FawIqE1c2FGVCmUStretch"
        crossorigin="anonymous"></script>
</body>
</html>