<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Профиль пользователя</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <style>

    .thumbnail {
      max-width: 70px;
    }

  </style>
</head>
<body>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/300x300" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Full Name</h5>
          <p class="card-text">Date of Birth</p>
          <p class="card-text">Email</p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h2>Текущие книги</h2>
          <table th:if="${not curBooks.isEmpty()}" class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Фото</th>
              <th scope="col">Название</th>
              <th scope="col">Автор</th>
              <th scope="col">Дата взятия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="record : ${curBooks}">
              <td>
                <a th:href="@{/bookTh/{id}(id=${record.book.id})}">
                  <img class="img-thumbnail thumbnail" th:src="@{'/bookTh/' + ${record.book.id} + '/image'}" alt="Photo">
                </a>
              </td>
              <td th:text="${record.book.name}"></td>
              <td th:text="${record.book.author}"></td>
              <td th:text="${record.loanDate}"></td>
            </tr>
            </tbody>
          </table>
          <h3 style="color: red" th:if="${curBooks.isEmpty()}"><br>У пользователя нет взятых книг!</h3>
          <h2>История взятых книг</h2>
          <table th:if="${not pastBooks.isEmpty()}" class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Фото</th>
              <th scope="col">Название</th>
              <th scope="col">Автор</th>
              <th scope="col">Дата взятия</th>
              <th scope="col">Дата возврата</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="record : ${pastBooks}">
              <td>
                <a th:href="@{/bookTh/{id}(id=${record.book.id})}">
                  <img class="img-thumbnail thumbnail" th:src="@{'/bookTh/' + ${record.book.id} + '/image'}" alt="Photo">
                </a>
              </td>
              <td th:text="${record.book.name}"></td>
              <td th:text="${record.book.author}"></td>
              <td th:text="${record.loanDate}"></td>
              <td th:text="${record.returnDate}"></td>
            </tr>
            </tbody>
          </table>
          <h3 style="color: red" th:if="${pastBooks.isEmpty()}"><br>Список истории пуст!</h3>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</html>
