<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Профиль пользователя</title>
  <!-- Подключение Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Подключение кастомного CSS -->
<!--  <link rel="stylesheet" href="/css/style.css">-->
</head>
<body>
<!-- Навигационное меню Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Профиль пользователя</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Сообщения</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Настройки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Выход</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Контейнер Bootstrap для профиля -->
<div class="container mt-5">
  <div class="row">
    <!-- Колонка с информацией о пользователе Bootstrap -->
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/300x300" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Full Name</h5>
          <p class="card-text">Date of Birth</p>
          <p class="card-text">Email</p>
        </div>
      </div>
    </div>
    <!-- Колонка для изменения информации о пользователе Bootstrap -->
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Изменить информацию о пользователе</h5>
          <form th:method="POST" th:action="@{/profile}">
            <div class="form-group">
              <label for="full-name">Full Name</label>
              <input type="text" class="form-control" id="full-name" name="full-name">
            </div>
            <div class="form-group">
              <label for="date-of-birth">Date of Birth</label>
              <input type="text" class="form-control" id="date-of-birth" name="date-of-birth">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" name="email">
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<!-- Подключение Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</html>
