<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Профиль пользователя</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style/navbar.css">
  <script src="/static/js/navbar.js"></script>

  <style>

    .thumbnail {
      max-width: 70px;
    }

  </style>
</head>
<body>
<section class="navigation">
  <div class="nav-container">
    <nav class="navbar navbar-expand-custom navbar-mainbg">
      <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <div class="hori-selector">
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/userTh/profile}"><i class="fas fa-tachometer-alt"></i>Профиль</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/bookTh}"><i class="far fa-address-book"></i>Каталог</a>
          </li>
          <li th:if="${isAdmin}" class="nav-item">
            <a class="nav-link" th:href="@{/bookTh/create}"><i class="far fa-address-book"></i>Добавление книги</a>
          </li>
          <li th:if="${isAdmin}" class="nav-item">
            <a class="nav-link" th:href="@{/userTh}"><i class="far fa-clone"></i>Пользователи</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Настройки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}"><i class="far fa-chart-bar"></i>Выход</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" th:src="@{'/userTh/' + ${user.id} + '/image'}" alt="Card image cap">
        <div class="card-body">
          <p class="card-title" th:text="${user.fullName}"/>
          <p class="card-text" th:text="${user.email}"/>
          <p class="card-text" th:text="${user.dateOfBirth}"/>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h2>Текущие книги</h2>
          <table th:if="${not curBooks.isEmpty()}" class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Фото</th>
              <th scope="col">Название</th>
              <th scope="col">Автор</th>
              <th scope="col">Дата взятия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="record : ${curBooks}">
              <td>
                <a th:href="@{/bookTh/{id}(id=${record.book.id})}">
                  <img class="img-thumbnail thumbnail" th:src="@{'/bookTh/' + ${record.book.id} + '/image'}" alt="Photo">
                </a>
              </td>
              <td th:text="${record.book.name}"></td>
              <td th:text="${record.book.author}"></td>
              <td th:text="${record.loanDate}"></td>
            </tr>
            </tbody>
          </table>
          <h3 style="color: red" th:if="${curBooks.isEmpty()}"><br>У пользователя нет взятых книг!</h3>
          <h2>История взятых книг</h2>
          <table th:if="${not pastBooks.isEmpty()}" class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Фото</th>
              <th scope="col">Название</th>
              <th scope="col">Автор</th>
              <th scope="col">Дата взятия</th>
              <th scope="col">Дата возврата</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="record : ${pastBooks}">
              <td>
                <a th:href="@{/bookTh/{id}(id=${record.book.id})}">
                  <img class="img-thumbnail thumbnail" th:src="@{'/bookTh/' + ${record.book.id} + '/image'}" alt="Photo">
                </a>
              </td>
              <td th:text="${record.book.name}"></td>
              <td th:text="${record.book.author}"></td>
              <td th:text="${record.loanDate}"></td>
              <td th:text="${record.returnDate}"></td>
            </tr>
            </tbody>
          </table>
          <h3 style="color: red" th:if="${pastBooks.isEmpty()}"><br>Список истории пуст!</h3>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
