<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройки профиля</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/style/navbar.css">
    <script src="/static/js/navbar.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/static/image/menu.png" width="50" height="50" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/profile}">Профиль<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/book}">Каталог</a>
            </li>
            <li th:if="${isAdmin}" class="nav-item">
                <a class="nav-link" th:href="@{/admin/book/create}">Добавление книги</a>
            </li>
            <li th:if="${isAdmin}" class="nav-item">
                <a class="nav-link" th:href="@{/admin/user}">Пользователи</a>
            </li>
        </ul>
        <ul class="navbar-nav  ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Выход</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <h1>Редактирование профиля</h1>
    <form th:action="@{/user/updated/{id}(id=${id})}" method="post" enctype="multipart/form-data" th:object="${user}">
        <div class="row">
            <div class="col-md-4">
                <img id="profile-picture-preview" th:src="@{'/user/' + ${id} + '/image'}" alt="Profile Picture" class="img-thumbnail">
                <div class="form-group">
                    <label for="profile-picture"> </label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="profile-picture" name="profilePicture" th:field="*{image}" onchange="previewProfilePicture(event)">
                        <label class="custom-file-label" for="profile-picture">Выберите фото профиля</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="full-name">ФИО:</label>
                    <input type="text" class="form-control" id="full-name" name="fullName" th:field="*{fullName}">
                </div>
                <div class="form-group">
                    <label for="dob">Дата рождения:</label>
                    <input type="date" class="form-control" id="dob" name="dob" th:field="*{dateOfBirth}">
                </div>
            </div>
        </div>
    </form>
</div>
<br><br><br>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function previewProfilePicture(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('profile-picture-preview');
            output.src = reader.result;
            document.getElementById('remove-picture').style.display = 'block';
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
</body>
</html>