<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!--  <link rel="stylesheet" href="css/style.css">-->
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">User Profile</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="img/profile-pic.jpg" alt="Profile Picture">
        <div class="card-body">
          <h5 class="card-title" th:text="${user.fullName}">John Doe</h5>
          <p class="card-text">
            <strong>Date of Birth:</strong> <span th:text="${user.dateOfBirth}">01-01-1980</span>
            <br>
            <strong>Email:</strong> <span th:text="${user.email}">johndoe@example.com</span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Current Books</h5>
          <ul class="list-group">
            <li class="list-group-item">Book 1</li>
            <li class="list-group-item">Book 2</li>
            <li class="list-group-item">Book 3</li>
          </ul>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">All Books</h5>
          <ul class="list-group">
            <li class="list-group-item">Book 1</li>
            <li class="list-group-item">Book 2</li>
            <li class="list-group-item">Book 3</li>
            <li class="list-group-item">Book 4</li>
            <li class="list-group-item">Book 5</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>