<nav class="navbar navbar-expand-custom navbar-mainbg">
  <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <div class="hori-selector">
        <div class="left"></div>
        <div class="right"></div>
      </div>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/userTh/profile}"><i
                class="fas fa-tachometer-alt"></i>Профиль</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/bookTh}"><i class="far fa-address-book"></i>Каталог</a>
      </li>
      <li th:if="${isAdmin}" class="nav-item">
        <a class="nav-link" th:href="@{/bookTh/create}"><i class="far fa-address-book"></i>Добавление
          книги</a>
      </li>
      <li th:if="${isAdmin}" class="nav-item">
        <a class="nav-link" th:href="@{/userTh}"><i class="far fa-clone"></i>Пользователи</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Настройки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/logout}"><i class="far fa-chart-bar"></i>Выход</a>
      </li>
    </ul>
  </div>
</nav>