<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Return Book</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/header.css">

</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header"></div>
<header class="header">
  <div class="header_container container">
    <a href="header.html">
      <img src="../image/3.png" width="150px" height="150px" alt="logo" class="book_logo">
    </a><nav>
    <ul class="header_list-links">
      <li><a href="#">MAIN</a></li>
      <li><a href="#register">REGISTRATION</a></li>
      <li><a href="#login">LOGIN</a></li>
      <li><a href="#">ABOUT US</a></li>
    </ul>
  </nav>
    <img src="../image/menu.png" alt="" class="header__hambur-menu" onclick="headerModal('flex')">

  </div>
  <div class="header-modal">
    <div class="header-modal__blur" onclick="headerModal('none')"></div>
    <div class="header-modal__content">
      <div class="header-modal__box-top">
        <img src="../image/close.png" alt="" class="header-modal__icons" id="header-modal__x" onclick="headerModal('none')">
      </div>
      <ul class="header_list-links header-modal__list">
        <li><a href="header.html">MAIN</a></li>
        <li><a href="register.html">REGISTRATION</a></li>
        <li><a href="login.html">LOGIN</a></li>
        <li><a href="#">ABOUT US</a></li>
      </ul>
    </div>
  </div>
</header>
<!-- Return Book -->
<div class="container">
  <h2>Return Book</h2>
  <div class="row">
    <div class="col-sm-6">
      <form method="post" action="#" th:object="${returnBookForm}">
        <div class="form-group">
          <label for="book">Book:</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#bookModal">Select Book</button>
            </div>
            <input type="text" class="form-control" th:field="*{book.title}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="user">User:</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#userModal">Select User</button>
            </div>
            <input type="text" class="form-control" th:field="*{user.fullName}" readonly>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Return Book</button>
      </form>
    </div>
  </div>
</div>

<!-- Book Modal -->
<div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookModalLabel">Select Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li th:each="book : ${books}" class="list-group-item">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="bookRadio" th:value="${book.id}">
              <label class="form-check-label" th:text="${book.title}"></label>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="selectBook()">Select</button>
      </div>
    </div>
  </div>
</div>

<!-- User Modal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userModalLabel">Select User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li th:each="user : ${users}" class="list-group-item">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="userRadio" th:value="${user.id}">
              <label class="form-check-label" th:text="${user.fullName}"></label>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="selectUser()">Select</button>
      </div>
    </div>
  </div>

</div>
<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  function selectBook() {
    var selectedBookId = $('input[name="bookRadio"]:checked').val();
    var url = '/books/' + selectedBookId + '/details';
    $.get(url, function(data) {
      $('#bookModal').modal('hide');
      $('#returnBookForm input[name="book.id"]').val(data.id);
      $('#returnBookForm input[name="book.title"]').val(data.title);
    });
  }

  function selectUser() {
    var selectedUserId = $('input[name="userRadio"]:checked').val();
    var url = '/users/' + selectedUserId + '/details';
    $.get(url, function(data) {
      $('#userModal').modal('hide');
      $('#returnBookForm input[name="user.id"]').val(data.id);
      $('#returnBookForm input[name="user.fullName"]').val(data.fullName);
    });
  }
  /*]]>*/
</script>
</body>
</html>
